#about {
  padding: 3.2rem;
  background-color: var(--surface-color);

  & .container {
    display: grid;
    gap: 3.2rem;
  }
}

#profile {
  display: grid;
  gap: 1.6rem;

  & img {
    width: 12rem;
  }

  & h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: .8rem;
  }

  & p {
    font: var(--text-sm);
  }
}

#info {
  max-width: 28rem;
  width: 100%;

  & ul {
    display: grid;
    gap: 1.6rem;

    & li {
      display: flex;
      align-items: center;
      gap: .8rem;
      font: var(--text-sm);
    }
  }
}

@media (width >= 1200px) {
  #about {
    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  #profile {
    display: flex;
    gap: 3.2rem;
    width: 59.2rem;

    & img {
      width: 17.6rem;
    }
  }
}