footer {
  font: var(--text-sm);
  padding: 1.6rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;

  & > div a:nth-child(1) {
    margin-right: 2.4rem;
  }
}

@media (width >= 1200px) {
  footer {
    justify-content: space-between;
    padding: 2.4rem 0;
  }
}