#gallery {
  padding: 1.6rem;

  & .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.2rem, 1fr));
    gap: 1.6rem;
    justify-content: center;

    & img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

@media (width >= 1200px) {
  #gallery {
    padding: 2.4rem 3.2rem;

    & .container {
      gap: 2.4rem;
    }
  }
}