* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #F5F5F5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --text: 400 1.6rem/150% var(--font-family);
  --text-lg: bold 3.2rem/125% var(--font-family);
  --text-md: 400 1.4rem/170% var(--font-family);
  --text-sm: 400 1.2rem/170% var(--font-family);
}

body {
  font-size: 1.6rem;
  font: var(--text);
}